<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Sidebar Menu  | CodingLab </title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/estilos.css">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">Empresa</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Buscar</span>
      </li>
      
      <li>
       <a href="http://localhost:3000/empleados2">
         <i class='bx bx-user' ></i>
         <span class="links_name">Empleados</span>
       </a>
       <span class="tooltip">Gestión Empleados</span>
     </li>
  
     <li class="profile">
         <div class="profile-details">
           <img src="/images/profile.jpg" >
           <div class="name_job">
             <div class="name">Prem Shahi</div>
             <div class="job">Web designer</div>
           </div>
         </div> 
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>
  <section class="home-section">
    
      <div class="titlePage">
        <h1>Gestión Empleados</h1>
      </div>    
      <div class="grid">
        <div class="buscador">
          <input type="text" placeholder="busqueda">
        </div>
        <div class="btnAdd">
          <button>Nuevo Registro</button>
        </div>
      </div>
      <div class="table">
        <table>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Correo</th>
            <th>Proceso</th>
            <th>Subproceso</th>
            <th>Puesto</th>
            <th>Lugar de Trabajo</th>
            <th>Remuneración</th>
            <th>Estado</th> 
            <th>Solicitud</th>
           </tr>
          <% for(var i=0;i < usu.length ;i++){ %>
            <tr>
              <td ><%=usu[i].nombres%></td>
              <td ><%=usu[i].apellidos%></td>
              <td ><%=usu[i].cedula%></td>
              <td ><%=usu[i].correo%></td>
              <td ><%=usu[i].proceso%></td>
              <td ><%=usu[i].subproceso%></td>
              <td ><%=usu[i].puesto%></td>
              <td ><%=usu[i].lugarTrabajo%></td>
              <td ><%=usu[i].remuneracionM%></td>
              <td ><%=usu[i].estado%></td>
              <td ><a href="http://localhost:3000/solicitud_vacaciones/<%=usu[i].idSolicitud%>">ver solicitud</a></td>
            </tr>
            <% }%>
        </table>
      </div>
    
    
  </section>

  <script  src="/js/estilos.js"></script>
       
  </body>
  </html>
  